<div class="panel panel-border panel-primary">
	<div class="panel-heading">
		<h4><i class="icon-layers"></i> Events
		<button class="btn btn-facebook waves-effect waves-light pull-right" ng-click="form.event(this)">Add <i class="fa fa-plus"></i></button>
		</h4>
	</div>
<hr>
	<div class="panel-body">
		<table id="event" class="table table-striped m-0">
		  <thead>
			<tr>
			  <th>No.</th>
			  <th>Description</th>
			  <th>Municipality</th>
			  <th>Active</th>
			  <th>&nbsp;</th>
			</tr>
		  </thead>
		  <tbody>
			<tr ng-repeat="e in events">
			  <td>{{e.id}}</td>
			  <td>{{e.description}}</td>
			  <td>{{e.town.municipality}}</td>

			  <td><input data-event-id="{{e.id}}" type="checkbox" class="js-switch" ng-model="e.is_active"></td>

			  <td>
			  <button class="btn btn-sm btn-primary" ng-click="form.event(this,e)" style="margin-right: 5px;" ><i class="fa fa-search" style="cursor: pointer;"></i></button>
			  <button class="btn btn-sm btn-googleplus" ng-click="form.delete(this,e)"><i class="fa fa-close" style="cursor: pointer;"></i></button>
			  </td>
			</tr>
		  </tbody>
		</table>
	</div>
</div>
