<div class="panel panel-border panel-primary">
	<div class="panel-heading">
		<h4><i class="icon-layers"></i> Events
		<button class="btn btn-facebook waves-effect waves-light pull-right" ng-click="form.event(this)">Add <i class="fa fa-plus"></i></button>
		</h4>
	</div>
<hr>
	<div class="panel-body">
		<table id="event" class="table table-striped m-0">
		  <thead>
			<tr>
			  <th>No.</th>
			  <th>Description</th>
			  <th>Municipality</th>
			  <th>Active</th>
			  <th>&nbsp;</th>
			</tr>
		  </thead>
		  <tbody>
			<tr ng-repeat="event in events">
			  <td>{{event.id}}</td>
			  <td>{{event.description}}</td>
			  <td>{{event.town.municipality}}</td>
			  <td><input type="checkbox" checked data-plugin="switchery" data-color="#81c868"/></td>
			  <td>
			  <button class="btn btn-sm btn-white" ng-click="form.event(this,event)" style="margin-right: 5px;" ><i class="fa fa-search" style="cursor: pointer;"></i></button>
			  <button class="btn btn-sm btn-white" ng-click="form.delete(this,event)"><i class="fa fa-close" style="cursor: pointer;"></i></button>
			  </td>
			</tr>
		  </tbody>
		</table>
	</div>
</div>
