<div class="panel panel-border panel-primary">
	<div class="panel-heading">
		<h4><i class="icon-layers"></i> Personal Information
		<button class="btn btn-facebook waves-effect waves-light pull-right" ng-click="form.user(this)">Add <i class="fa fa-plus"></i></button>
		</h4>
	</div>
<hr>
	<div class="panel-body">
		<table id="user" class="table table-striped m-0">
		  <thead>
			<tr>
			  <th>No.</th>
			  <th>Name</th>
			  <th>&nbsp;</th>
			</tr>
		  </thead>
		  <tbody>
			<tr ng-repeat="account_info in account_infos">
			  <td>{{account_info.account_id}}</td>
			  <td>{{account_info.account_firstname}} {{account_info.account_middlename}} {{account_info.account_lastname}}</td>
			  <td>
			  <button class="btn btn-sm btn-white" ng-click="form.user(this,account_info)" style="margin-right: 5px;" ><i class="fa fa-search" style="cursor: pointer;"></i></button>
			  <button class="btn btn-sm btn-white" ng-click="form.delete(this,account_info)"><i class="fa fa-close" style="cursor: pointer;"></i></button>
			  </td>
			</tr>
		  </tbody>
		</table>
	</div>
</div>
