<div class="panel panel-primary panel-border col-lg-12">
<div class="panel-heading">
<h4><i class="icon icon-note"></i> Registration
<button class="btn btn-linkedin pull-right waves-effect waves-light" ng-click="form.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button>
</h4>
</div>
<hr>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary panel-border">
		
				<h4><i class="icon-user-follow"></i> Personal Information
				<button class="btn btn-facebook pull-right waves-effect waves-light" ng-click="form.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button>
				</h4>
			</div>
			<hr>
			<div class="panel-body">
				<form name="formHolder.personal_info" id="formHolder.personal_info">
		<div class="panel panel-inverse panel-border card-box">
	
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12 form-group" ng-class="{'has-error': formHolder.profile.municipality.$touched && formHolder.profile.municipality.$invalid}">
					<label class="label-control">First Name</label>
					<input type="text" class="form-control" name="location" ng-model="profile.location" ng-disabled="controls.ok.btn">
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 form-group">
					<label class="label-control">Middle Name</label>
					<input type="text" class="form-control" name="location" ng-model="profile.location" ng-disabled="controls.ok.btn">
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12 form-group" ng-class="{'has-error': formHolder.profile.profile_year.$touched && formHolder.profile.profile_year.$invalid}">
					<label class="label-control">Last Name</label>
					<input type="text" class="form-control" name="profile_year" ng-model="profile.profile_year" required ng-disabled="controls.ok.btn">
					<span class="help-block" ng-show="formHolder.profile.profile_year.$touched && formHolder.profile.profile_year.$invalid">Year name is required</span>
				</div>	
				<div class="col-lg-3 col-md-3 col-sm-12 form-group">
					<label class="label-control">Extension Name</label>
					<input type="text" class="form-control" name="location" ng-model="profile.location" ng-disabled="controls.ok.btn">
				</div>				
			</div>
	
	
			<div class="row">
				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">Nationality</label>
					<input type="text" class="form-control" name="pb_north" ng-model="profile.pb_north" ng-disabled="controls.ok.btn">
					<!-- <span class="help-block" ng-show="formHolder.profile.pb_north.$touched && formHolder.profile.pb_north.$invalid">Name is required</span> -->
				</div>
				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">Gender</label>
					<input type="text" class="form-control" name="pb_east" ng-model="profile.pb_east" ng-disabled="controls.ok.btn">
					<!-- <span class="help-block" ng-show="formHolder.profile.pb_east.$touched && formHolder.profile.pb_east.$invalid">Name is required</span> -->
				</div>
		

				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">Age</label>
					<input type="text" class="form-control" name="pb_south" ng-model="profile.pb_south" ng-disabled="controls.ok.btn">
					<!-- <span class="help-block" ng-show="formHolder.profile.pb_south.$touched && formHolder.profile.pb_south.$invalid">Name is required</span> -->
				</div>
			</div>	
			<div class="row">
				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">Birthday</label>
					<input type="text" class="form-control" name="pb_north" ng-model="profile.pb_north" ng-disabled="controls.ok.btn">
					<!-- <span class="help-block" ng-show="formHolder.profile.pb_north.$touched && formHolder.profile.pb_north.$invalid">Name is required</span> -->
				</div>
				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">Birth Place</label>
					<input type="text" class="form-control" name="pb_east" ng-model="profile.pb_east" ng-disabled="controls.ok.btn">
					<!-- <span class="help-block" ng-show="formHolder.profile.pb_east.$touched && formHolder.profile.pb_east.$invalid">Name is required</span> -->
				</div>
		

				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">Contact No</label>
					<input type="text" class="form-control" name="pb_south" ng-model="profile.pb_south" ng-disabled="controls.ok.btn">
					<!-- <span class="help-block" ng-show="formHolder.profile.pb_south.$touched && formHolder.profile.pb_south.$invalid">Name is required</span> -->
				</div>
		</div>	
		<div class="row">
				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">House No.</label>
					<input type="text" class="form-control" name="pb_north" ng-model="profile.pb_north" ng-disabled="controls.ok.btn">
					<!-- <span class="help-block" ng-show="formHolder.profile.pb_north.$touched && formHolder.profile.pb_north.$invalid">Name is required</span> -->
				</div>
				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">Street</label>
					<input type="text" class="form-control" name="pb_east" ng-model="profile.pb_east" ng-disabled="controls.ok.btn">
					<!-- <span class="help-block" ng-show="formHolder.profile.pb_east.$touched && formHolder.profile.pb_east.$invalid">Name is required</span> -->
				</div>
				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">Subdivision</label>
					<input type="text" class="form-control" name="pb_south" ng-model="profile.pb_south" ng-disabled="controls.ok.btn">
					<!-- <span class="help-block" ng-show="formHolder.profile.pb_south.$touched && formHolder.profile.pb_south.$invalid">Name is required</span> -->
				</div>
		</div>	
		<div class="row">
				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">Barangay</label>
					<input type="text" class="form-control" name="pb_north" ng-model="profile.pb_north" ng-disabled="controls.ok.btn">
					<!-- <span class="help-block" ng-show="formHolder.profile.pb_north.$touched && formHolder.profile.pb_north.$invalid">Name is required</span> -->
				</div>
				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">City</label>
					<input type="text" class="form-control" name="pb_east" ng-model="profile.pb_east" ng-disabled="controls.ok.btn">
					<!-- <span class="help-block" ng-show="formHolder.profile.pb_east.$touched && formHolder.profile.pb_east.$invalid">Name is required</span> -->
				</div>
				<div class="col-lg-4 col-md-8 col-sm-12 form-group">
					<label class="label-control">Province</label>
					<input type="text" class="form-control" name="pb_east" ng-model="profile.pb_east" ng-disabled="controls.ok.btn">
					<!-- <span class="help-block" ng-show="formHolder.profile.pb_east.$touched && formHolder.profile.pb_east.$invalid">Name is required</span> -->
				</div>
		</div>	
		</div>
	</form>
		<div class="form-group text-left m-b-0">
			<button class="btn btn-warning waves-effect" type="submit" ng-click="form.list(this)" ng-disabled="controls.cancel.btn">Save</button>
			<button class="btn btn-twitter waves-effect waves-light m-l-5" ng-click="form.save(this)" ng-disabled="controls.ok.btn">Close</button>
		</div>
	</div>					
			</div>
		</div>
	</div>
</div>

