<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary panel-border">
			<div class="panel-heading">
				<h4><i class="icon-note"></i> Service Maintenance
				<button class="btn btn-facebook pull-right waves-effect waves-light" ng-click="form.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button>
				</h4>
			</div>
			<hr>
	<div class="panel-body">

		<form name="formHolder.service" id="formHolder.service" novalidate autocomplete="off">
			<div class="panel panel-inverse panel-border card-box">
				<div class="row">
					<div class="col-lg-6 col-md-4 col-sm-12 form-group">
						<label class="label-control">Description</label>
						<input type="text" class="form-control" name="description" ng-model="service.description" ng-disabled="controls.ok.btn">
					</div>
					<div class="col-lg-6 col-md-4 col-sm-12 form-group">
						<label class="label-control">Color</label>
						<input type="text" class="form-control" name="color" ng-model="service.color" ng-disabled="controls.ok.btn">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-12 form-group">
						<label class="label-control">Minimum Age</label>
						<input type="number" class="form-control" name="min_age" ng-model="service.min_age" ng-disabled="controls.ok.btn">
					</div>
					<div class="col-lg-3 col-md-4 col-sm-12 form-group">
						<label class="label-control">Maximum Age</label>
						<input type="number" class="form-control" name="max_age" ng-model="service.max_age" ng-disabled="controls.ok.btn">
					</div>
					<div class="col-lg-3 col-md-4 col-sm-12 form-group">
						<label class="label-control">Color Code</label>
						<input type="text" class="form-control" name="color_code" ng-model="service.color_code" placeholder="c0c7e3" ng-disabled="controls.ok.btn">
					</div>
				</div>
				<hr>
				<div class="row">
					<button class="btn btn-white waves-effect" type="submit" ng-click="form.list(this)" ng-disabled="controls.cancel.btn">{{controls.cancel.label}}</button>
					<button class="btn btn-twitter waves-effect waves-light m-l-5" ng-click="form.save(this)" ng-disabled="controls.ok.btn">{{controls.ok.label}}</button>
				</div>
			</div>
		</form>
	</div>
		
			</div>
		</div>
	</div>
</div>

